@import url("https://use.typekit.net/yhp1gkk.css");

:root {
    --background: #B43C33;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    background: white;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
  }

  
  h0 {
  font-size: 3.3em;
  text-align: center;
  padding: auto;
}

  h1 {
    text-align: center;
    padding: auto;
  }
  
  
  
  
  /* Navigation goes here */
  
  header {
    background: var(--background);
    text-align: center;
    width: 100%;
    z-index: 999;
    padding: 1em;
    position: sticky;
  }
  
  .nav-toggle {
    display: none;
  }
  
  .nav-toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1em;
    height: 100%;
    display: flex;
    align-items: center;
  }
  
  /* Hamburger Menu Styles*/
  
  .nav-toggle-label span,
  .nav-toggle-label span::before,
  .nav-toggle-label span::after {
    display: block;
    background: #D5AE63;
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;
  }
  
  .nav-toggle-label span::before,
  .nav-toggle-label span::after {
    content: "";
    position: absolute;
  }
  
  .nav-toggle-label span::before {
    bottom: 8px;
  }
  
  .nav-toggle-label span::after {
    top: 8px;
  }
  
  nav {
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    background: var(--background);
    width: 100%;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
  }
  
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  nav li {
    margin-bottom: 1em;
    margin-left: 1em;
  }
  
  nav a {
    color: #D5AE63;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
  }
  
  nav a:hover {
    color: black;
  }
  
  .nav-toggle:checked ~ nav {
    transform: scale(1, 1);
  }
  
  .nav-toggle:checked ~ nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
  }
  
  /* Media Query for desktop*/
  
  @media screen and (min-width: 800px) {
    .nav-toggle-label {
      display: none;
    }
  
    header {
      display: grid;
      grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
    }
  
    .logo {
      grid-column: 2/3;
    }
  
    nav {
      all: unset;
      grid-column: 3/4;
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
  
    nav ul {
      display: flex;
      justify-content: flex-end;
    }
  
    nav li {
      margin-left: 3em;
      margin-bottom: 0;
    }
  
    nav a {
      opacity: 1;
      position: relative;
    }
  
    /*add line above or below the selection on hover*/
  
    nav a::before {
      content: "";
      display: block;
      height: 5px;
      background: black;
      position: absolute;
      top: -0.75em;
      left: 0;
      right: 0;
      transform: scale(0, 1);
      transform-origin: left;
      transition: transform ease-in-out 250ms;
    }
  
    nav a:hover::before {
      transform: scale(1, 1);
    }
  }




/* The hero image */
.hero-image {
  
  background-image: url(images/hero-image@2x.jpg);
  height: 200vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  color: #F8D2B4;
  width: 60%;
  margin: 0 auto;
  padding: 2em;
}

.hero-text-position {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.position {
  font-family: "Fancy-Pants";
  margin: 0;
}

.position {
  font-family: "cocosignum";
}



p {
  font-family: "Montserrat", sans-serif;
  font-size: 0.8em;
  line-height: 1.5;
}


.card-container {
  display: flex;
  justify-content: center;
}

.box {
  width: 350px;
  height: 400px;
  padding: 15px;
  margin-bottom: 15px;
  
  
  
}

.container{
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

img {
  width: 100%;
  height: auto;
  
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  
}



.title {
  color: grey;
  font-size: 18px;
}

h3 {
  background-color: #C36E46;
  padding: .5em;
  text-align: center;
}

h4 {
text-align:left
}

.section-title h1 {
  background: #C36E46;
  padding: 15px;
  font-family: swear-display, serif;
  font-weight: 700;
}

.contact-title h2 {
  font-size: 16px;
}

form {
  background: #4F4440;
  width: 300px;
  margin: 0 auto;
  padding: 15px;
  border-radius: 15px;
}

form div {
  margin: 15px;
}

form input {
  padding: 10px 15px;
  width: 100%;
  border: none;
  border-bottom: 1px solid #999;
}

button {
  background: #C36E46;
  padding: 10px 15px;
  border-radius: 25px;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
}

button:hover {
  background: #B43C33;
  color: #38383a;
}


.merchants {
position: relative;
    text-align: center;
    color: white;
  
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.merchant-wrapper {
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.food-wrapper {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}



  
/* MERCHANTS IMAGE GRID*/
.image {
  width:100%;
}

.text {
  font-family:sans-serif;
  color:white;
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  margin:30px;
  padding:10px;
  transition:.2s;
}

.merchant-card {
  width: 275px;
  height: 130px;
  margin: 5px;
}

.food-card {
  width: 430px;
  margin: 25px;
}


.booth-label {
  background: #D5AE63;
  padding: 1em;
  text-align: center;
  width: 120px;
  margin: 0 auto;
}

.location-label {
  background: #D5AE63;
  padding: 1em;
  text-align: center;
  width: 120px;
  margin: 0 auto;
}

.card-text {
  text-align: center;
}

/* MERCHANTS IMAGE BACKGROUNDS*/


.abbey {
  background: url(images/Group\ 46@2x.jpg);
  background-size: cover;
}

.american {
  background: url(images/americanhighlander@2x.jpg);
  background-size: cover;
}

.axe {
  background: url(images/grizzly-scrub-grass-scaled@2x.jpg);
  background-size: cover;
}

.casta {
  background: url(images/castadiva@2x.jpg);
  background-size: cover;
}

.chimes {
  background: url(images/ambstudios@2x.jpg);
  background-size: cover;
}

.crown {
  background: url(images/crowncomb@2x.jpg);
  background-size: cover;
}

.duck {
  background: url(images/armour@2x.jpg);
  background-size: cover;
}

.dungeon {
  background: url(images/dungeon@2x.jpg);
  background-size: cover;
}

.enchanted {
  background: url(images/enchantedforest@2x.jpg);
  background-size: cover;
}

.faire {
  background: url(images/fairietailor@2x.jpg);
  background-size: cover;
}

.fullmoon {
  background: url(images/fullmooncandles@2x.jpg);
  background-size: cover;
}

.leather {
  background: url(images/leatherlair@2x.jpg);
  background-size: cover;
}

.falcon {
  background: url(images/redfalconarmour@2x.jpg);
  background-size: cover;
}

.rooks {
  background: url(images/rooksgambit@2x.jpg);
  background-size: cover;
}

.royal {
  background: url(images/jewlery@2x.jpg);
  background-size: cover;
}

.sherwood {
  background: url(images/sherwoodfineries@2x.jpg);
  background-size: cover;
}

.silk {
  background: url(images/silkroadtraders@2x.jpg);
  background-size: cover;
}

.swords {
  background: url(images/btb-swordshield-complete@2x.jpg);
  background-size: cover;
}



.adventurers {
  background: url(images/adventurersguild@2x.jpg);
  background-size: cover;
}

.maze {
  background: url(images/amazingmaze@2x.jpg);
  background-size: cover;
}

.nest {
  background: url(images/crowsnest@2x.jpg);
  background-size: cover;
}

.fight {
  background: url(images/fightcircle@2x.jpg);
  background-size: cover;
}

.hippogriff {
  background: url(images/hippogriff@2x.jpg);
  background-size: cover;
}

.pirate {
  background: url(images/gamingvillage@2x.jpg);
  background-size: cover;
}

.boar {
  background: url(images/wildboar@2x.jpg);
  background-size: cover;
}

.wreck {
  background: url(images/wreckroom@2x.jpg);
  background-size: cover;
}

.ship {
  background: url(images/pirateshipswings@2x.jpg);
  background-size: cover;
}


.archers {
  background: url(images/CHEESE@2x.jpg);
  background-size: cover;
}

.fluff {
  background: url(images/cottoncandy@2x.jpg);
  background-size: cover;
}

.jerky {
  background: url(images/jerky@2x.jpg);
  background-size: cover;
}

.bread {
  background: url(images/funnelcake@2x.jpg);
  background-size: cover;
}

.creamery {
  background: url(images/icecream@2x.jpg);
  background-size: cover;
}

.steak {
  background: url(images/steakonastake@2x.jpg);
  background-size: cover;
}



.archery {
  background: url(images/archery@2x.jpg);
  background-size: cover;
}

.aviary {
  background: url(images/aviary@2x.jpg);
  background-size: cover;
}

.pottery {
  background: url(images/POTTERY@2x.jpg);
  background-size: cover;
}


.glasswork {
  background: url(images/glassworks@2x.jpg);
  background-size: cover;
}

.needle {
  background: url(images/emperorsneedle@2x.jpg);
  background-size: cover;
}

.imaginarium {
  background: url(images/imaginarium@2x.jpg);
  background-size: cover;
}

.laforge {
  background: url(images/laforge@2x.jpg);
  background-size: cover;
}

.merlin {
  background: url(images/merlins@2x.jpg);
  background-size: cover;
}

.utopia {
  background: url(images/utopiaarmory@2x.jpg);
  background-size: cover;
}





/* FOOD AND DRINK IMAGE BACKGROUNDS*/

.anchor {
  background: url(images/anchormermaid@2x.jpg);
  background-size: cover;
}

.argyle {
  background: url(images/argyle@2x.jpg);
  background-size: cover;
}

.braten {
  background: url(images/braten2@2x.jpg);
  background-size: cover;
}

.broth {
  background: url(images/breadbroth@2x.jpg);
  background-size: cover;
}

.candy {
  background: url(images/candyemporium@2x.jpg);
  background-size: cover;
}

.knightcafe {
  background: url(images/darkknight@2x.jpg);
  background-size: cover;
}

.knightrises {
  background: url(images/darkknight2@2x.jpg);
  background-size: cover;
}

.cantina {
  background: url(images/elbravucon@2x.jpg);
  background-size: cover;
}

.german {
  background: url(images/german@2x.jpg);
  background-size: cover;
}

.baked {
  background: url(images/getbaked@2x.jpg);
  background-size: cover;
}

.huntsman {
  background: url(images/huntsman@2x.jpg);
  background-size: cover;
}

.legges {
  background: url(images/sixknightstl@2x.jpg);
  background-size: cover;
}

.kettle {
  background: url(images/kettlecraic@2x.jpg);
  background-size: cover;
}

.knots {
  background: url(images/knotsforyou@2x.jpg);
  background-size: cover;
}

.mac {
  background: url(images/macbeths@2x.jpg);
  background-size: cover;
}

.majesty {
  background: url(images/majestyscup@2x.jpg);
  background-size: cover;
}

.newworldinn {
  background: url(images/newworldinn2@2x.jpg);
  background-size: cover;
}

.schwein {
  background: url(images/prancingpig@2x.jpg);
  background-size: cover;
}

.public {
  background: url(images/publichouse3@2x.jpg);
  background-size: cover;
}

.confectionary {
  background: url(images/icecream-1@2x.jpg);
  background-size: cover;
}

.carts {
  background: url(images/sixknights@2x.jpg);
  background-size: cover;
}

.tudor {
  background: url(images/tudorfruit@2x.jpg);
  background-size: cover;
}

.pickle {
  background: url(images/wickedpickle@2x.jpg);
  background-size: cover;
}

.witch {
  background: url(images/witchshat@2x.jpg);
  background-size: cover;
}


/* POURHOUSES */

.anchor2 {
  background: url(images/amwharf@2x.jpg);
  background-size: cover;
}

.ball {
  background: url(images/ballchain@2x.jpg);
  background-size: cover;
}

.bierhalle {
  background: url(images/bierhalle@2x.jpg);
  background-size: cover;
}

.cockney {
  background: url(images/cockneys@2x.jpg);
  background-size: cover;
}

.bravucon {
  background: url(images/elbravucon2@2x.jpg);
  background-size: cover;
}

.german2 {
  background: url(images/germankitchen@2x.jpg);
  background-size: cover;
}

.grapes {
  background: url(images/publichouse3@2x.jpg);
  background-size: cover;
}

.hart {
  background: url(images/knightsale@2x.jpg);
  background-size: cover;
}

.whiskey {
  background: url(images/whiskey@2x.jpg);
  background-size: cover;
}

.oarhouse {
  background: url(images/oarhouseprovisions@2x.jpg);
  background-size: cover;
}

.malley {
  background: url(images/pyrateship@2x.jpg);
  background-size: cover;
}

.pyrate {
  background: url(images/witchshat@2x.jpg);
  background-size: cover;
}



/* FAQ */

.faq-heading {
  font-family: Lato;   
  font-weight: 400;
  font-size: 19px;
   -webkit-transition: text-indent 0.2s;
  text-indent: 20px;
  color: #333;
}

.faq-text {
  font-family: Open Sans;   
  font-weight: 400;
  color: #919191;
  width:95%;
  padding-left:20px;
  margin-bottom:30px;
}

.faq {
  width: 1000px;
  margin: 0 auto;
  background: white;
  border-radius: 4px;
  position: relative;
  border: 1px solid #E1E1E1;
}
.faq label {
  display: block;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  height: 56px;
  padding-top:1px;
 
  background-color: #FAFAFA;
  border-bottom: 1px solid #E1E1E1;
}

.faq input[type="checkbox"] {
  display: none;
}

.faq .faq-arrow {
  width: 5px;
  height: 5px;
  transition: -webkit-transform 0.8s;
  transition: transform 0.8s;
  transition: transform 0.8s, -webkit-transform 0.8s;
  -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  border-top: 2px solid rgba(0, 0, 0, 0.33);
  border-right: 2px solid rgba(0, 0, 0, 0.33);
  float: right;
  position: relative;
  top: -30px;
  right: 27px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

 .faq input[type="checkbox"]:checked + label > .faq-arrow {
  transition: -webkit-transform 0.8s;
  transition: transform 0.8s;
  transition: transform 0.8s, -webkit-transform 0.8s;
  -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}
 .faq input[type="checkbox"]:checked + label {
  display: block;
  background: rgba(255,255,255,255) !important;
  color: #4f7351;
  height: 225px;
  transition: height 0.8s;
  -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

 .faq input[type='checkbox']:not(:checked) + label {
  display: block;
  transition: height 0.8s;
  height: 60px;
  -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

::-webkit-scrollbar {
  display: none;
}



